<div id="logo-wrap">
  <img src="images/tp-trend-widget-logo.png" alt="trend widget logo">
</div>

<p id="callout-txt">Click a star to see result</p>

<div id="tab-pointer-wrap" >
  <div ng-repeat="starTab in widget.starRatings"
       class="tab-pointer-{{$index + 1}}"
  >
    <i class="icon-pointer-angle-down animated"
       ng-show="$index === selectedStarIndex"
       ng-class="{fadeIn : $index === selectedStarIndex}"
    ></i>
  </div>
</div>

<div id="star-tabs-wrap">
  <ul>
    <li ng-repeat="starTab in widget.starRatings"
        class="star-tab-{{$index + 1}}"
    >
      <a href="#"
         ng-click="selectedStarTab($index)"
         ng-class="{selected: $index === selectedStarIndex}"
      ></a>
    </li>
  </ul>
</div>

<p id="stats">
  <b>{{widget.starRatings[selectedStarIndex + 1].value}}</b>
  of {{widget.totalRatings}}
</p>

<div id="gauge-wrap">
  <pie-chart
      data="widget.gauge_data"
      options="widget.gauge_options"
  ></pie-chart>
</div>






